﻿@model CoolDemo.ViewModel.CreateUserViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Create User</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" />
    </div>
    <div>
        <input type="submit" value="Submit" class="btn-primary" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}