﻿@model CoolDemo.ViewModel.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-action="Login">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn-primary" value="Login" />
    </div>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}